@using MudBlazor
@inherits LayoutComponentBase

<PageTitle>Demo</PageTitle>

<MudThemeProvider/>
<MudDialogProvider/>
<MudPopoverProvider />
<MudSnackbarProvider/>

<div class="page">
    <main>
        <article class="content px-4">
            @Body
        </article>
    </main>
</div>
