@using MudBlazor
@inherits LayoutComponentBase
@inject UserState UserState

<PageTitle>Demo</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<div class="main-layout">
    <div class="custom-sidebar">
        <NavMenu />
    </div>
    <div class="main-content">
        <div class="custom-appbar">
            <h2>Bienvenido@(UserState.Usuario != null ? $" {UserState.Usuario.NombreUsuario}" : "")</h2>
        </div>
        <div class="content-body">
            @Body
        </div>
    </div>
</div>
