@using MudBlazor
@inherits LayoutComponentBase

<PageTitle>Demo</PageTitle>

<MudThemeProvider />
<MudDialogProvider />
<MudPopoverProvider />
<MudSnackbarProvider />

<MudLayout>
    <MudDrawer Open="true" Variant="DrawerVariant.Persistent" Class="sidebar">
        <NavMenu />
    </MudDrawer>

    <MudMainContent>
        <MudAppBar Color="Color.Primary">
            <MudText Typo="Typo.h6">Proyecto Cine</MudText>
        </MudAppBar>
        <div class="content px-4">
            @Body
        </div>
    </MudMainContent>
</MudLayout>
