@inject UserState UserState

<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(MainLayout)" />
    </Found>
    <NotFound>
        <LayoutView Layout="@typeof(MainLayout)">
            <p>Lo sentimos, no se encontró la página.</p>
        </LayoutView>
    </NotFound>
</Router>

@code {
    private bool _initialized = false;

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        if (firstRender && !_initialized)
        {
            _initialized = true;
            await UserState.InitializeAsync();
            StateHasChanged(); 
        }
    }
}
